.navbar {
  background-color: #000000;
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 0px;
  margin: -4822px 0px 0px 0px;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
}

.navbarContainer {
  height: 100%;
  width: 100%;
  max-width: 1850px;
  margin: 0px 0px 0px 0px;
  display: flex;
  align-items: flex-end;
}

.navbarLeft {
  flex: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbarCenter {
  margin: -185px 0px 0px 0px;
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbarBox {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 480px;
  padding-bottom: 0px;
}

.navbarBoxTitle {
  font-family: 'Sequel100Black-65';
  margin: 50px 0px 0px 0px;
  font-weight: 400;
  font-size: 60px;
  line-height: 94.8%;
  text-align: center;
}

.navbarBoxSubTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 15px;
  color: var(--color-navbar);
}

.navbarWalletButton {
  width: 80%;
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: -630px 0px 0px 0px;
  border-radius: 12px;
  color: var(--color-black);
  font-weight: 400;
  font-size: 13px;
  line-height: 20%;
  font-family: 'Sequel100Black-65';
  cursor: pointer;
}

.openSeaLink {
  visibility: hidden;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: -40px;
  color: var(--color-main);
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  background-color: var(--color-black);
  border: solid;
  border-radius: 12px;
  padding: 8px 35px 13px 35px;
  transition: height 0.5s; 
  -webkit-transition: height 0.5s;
  box-shadow:0 0 20px 10px #fdff6fba;
}

.openSeaLink:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.mintButton {
  width: 100%;
  background-color: var(--color-disabledgray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 31px;
  margin-top: 30px;
  border-radius: 12px;
  color: var(--color-black);
  font-weight: 400;
  font-size: 16px;
  line-height: 94.8%;
  font-family: 'Sequel100Black-65';
  cursor: pointer;
}

.submitButton {
  visibility: hidden;
}

.navbarBoxImage {
  width: 100%;
  max-width: 550px;
  height: auto;
}

.navbarLogo {
  margin: -10px 0px 0px 0px;
  z-index: 9999;
}

.navbarCenterBottom {
  margin: 220px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarRight {
  flex: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbarLeftLogo {
  color: var(--color-text-main);
  font-weight: 400;
  font-size: 21px;
  cursor: pointer;
}

.navbarCenterItem {
  color: var(--color-text-main);
  font-weight: 400;
  font-size: 16px;
  margin: 0px 35px -75px 0px;
  white-space: nowrap;
  line-height: 24px;
  cursor: pointer;
}

.navbarButton1 {
  padding: 0px 6px 8px 20px;
  margin-top: -51px;
}

.navbarButton2 {
  padding: 0px 6px 78px 20px;
}

.navbarButton3 {
  padding: 0px 6px 78px 20px;
}

.navbarButton4 {
  padding: 0px 6px 78px 20px;
}

.navbarButton5 {
  padding: 0px 6px 8px 20px;
  margin-top: -51px;
}

.mintButton:active {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}

.mintButton:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.navbarCenterItem:hover,
.navbarRightItem:hover,
.navbarRightButton:hover,
.navbarCenterLink:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.navbarCenterItem:active,
.navbarRightItem:active,
.navbarRightButton:active,
.navbarCenterLink:active {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}

.navbarRightItem {
  color: var(--color-text-main);
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
  margin-right: 18px;
  cursor: pointer;
}

.navbarRightButton {
  padding: 17px 45px;
  background-color: var(--color-main);
  border-radius: 28px;
  cursor: pointer;
  color: var(--color-text-main);
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
}

.navbarMobileButton {
  display: none;
}
.MobileDN {
  display: none;
}
.navbarMobile {
  display: none;
}

.navbarMobileContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  transition: z-index 1s linear;
}

.navbarMobileContainerActive {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  overflow: hidden;
}

/* +++ +++ Birth Info Form +++ +++ */

.birthInfoForm {
  width: 150%;
  padding: 35px 50px 35px 50px;
  margin: 40px 275px 0px 275px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-black);
}

.birthInfoTitle {
  font-weight: 400;
  font-size: 50px;
  margin: -10px 0px 20px 0px;
  line-height: 94.8%;
  text-align: center;
  color: var(--color-main);
}

.birthInfoSubtitle {
  color: var(--color-lightyellow);
  margin: 0px 0px 0px 0px;
  text-align: center;
}

/* +++ Birthday Entry +++ */

.birthdayInputContainer {
  justify-items: left;
  width: 385px;
}

.birthdayTitle {
  color: #ffffff;
  margin: 20px 0px 10px 0px;
  font-size: 20px;
}

.birthDayEntry {
  padding: 0px 0px 0px 0px;
  width: 52px;
  font-size: 20px;
  margin: 0px 6px 0px 0px;
}

.birthMonthSelect {
  padding: 0px 0px 1px 0px;
  width: 118px;
  font-size: 20px;
  margin: 0px 6px 0px 0px;
}

.birthYearEntry {
  padding: 0px 0px 0px 0px;
  width: 58px;
  font-size: 20px;
}

/* +++ Birth Time Entry +++ */

.birthTimeInputContainer {
  margin: 20px 0px 0px 0px;
  justify-items: left;
  width: 385px;
}

.birthTimeTitle {
  color: #ffffff;
  margin: 0px 0px 5px 0px;
  font-size: 20px;
}

.timeGuessText {
  color: #bbbbbb;
  margin: 0px 0px 5px 10px;
  font-size: 15px;
}

.birthTimeUnknown {
  margin-top: 10px;
}

.timeUnknownLabel {
  color: var(--color-lightyellow);
}

.birthHourSelect {
  padding: 0px 0px 1px 0px;
  width: 46px;
  font-size: 20px;
  margin: 10px 0px 0px 0px;
}

.colon {
  color: #ffffff;
  margin: 0px 0px 5px 0px;
  font-size: 20px;
}

.birthMinuteEntry {
  padding: 0px 0px 0px 0px;
  width: 42px;
  font-size: 20px;
  margin: 0px 6px 0px 0px;
}

.birthAMPMSelect {
  padding: 0px 0px 1px 0px;
  width: 54px;
  font-size: 20px;
}

/* +++ Birth Location Entry +++ */

.birthLocationInputContainer {
  margin: 20px 0px 0px 0px;
  justify-items: left;
  width: 385px;
}

.birthLocationTitle {
  color: #ffffff;
  margin: 0px 0px 5px 0px;
  font-size: 20px;
}

.locationGuessText {
  color: #bbbbbb;
  margin: 0px 0px 5px 10px;
  font-size: 15px;
}

.birthLocationUnknown {
  margin-top: 10px;
}

.locationUnknownLabel {
  color: var(--color-lightyellow);
}

.birthCountrySelect {
  padding: 0px 0px 1px 0px;
  width: 120px;
  height: 25px;
  font-size: 16px;
  margin: 10px 6px 0px 0px;
}

.birthStateSelect {
  padding: 0px 0px 1px 0px;
  width: 120px;
  height: 25px;
  font-size: 16px;
  margin: 0px 6px 0px 0px;
}

.birthCitySelect {
  padding: 0px 0px 1px 0px;
  width: 120px;
  height: 25px;
  font-size: 16px;
}

/* +++ Input Validity Message +++ */

.validityMessage {
  color: var(--color-warningred);
  margin: 10px 0px -20px 0px;
}

/* --- --- Birth Info Form --- --- */

@media only screen and (max-width: 1100px) {
  .navbarBoxImage {
    display: none;
  }
  .navbarBox {
    margin-top: 30px;
  }
  .navbarBoxTitle {
    margin: 0px 0px 0px 0px;
    font-size: 48px;
  }
  .navbar {
    padding: 0 20px;
    margin: 20px 20px;
  }
}

@media only screen and (max-width: 870px) {
  .navbar {
    margin: 0px 0px 0px 0px;
  }
  /*.navbarCenterBottom {
    display: none;
  }*/
  .navbarBoxTitle {
    font-size: 28px;
  }
}
